html, body {
    height: 100vh;
}

body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    
    
}

.header {
    display: flex;
    background-color: #1F2937;
}

h1 {
    color: antiquewhite;
    font-size: 56px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-end;
    margin: 16px;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
    color: red;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

li {
    margin: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex:1;
}

.text {
    font-weight: bold;
}

img{
    max-width: 200px;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: skyblue;
    font-size: 36px;
    font-style: italic;
}

p {
    margin:24px;
    text-align: center;
    
}

.signed {
    margin-right: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.inquire {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color:#3882f6
}

button {
    height: 25px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #1F2937;
    color: antiquewhite;
}